*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



.encabezado{
    background: linear-gradient(#151517, black);
    min-height: 80px;
}
.menu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    position: relative;
    top: -8px;
    left: 11vw;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    text-decoration: none;
}
.logo p{
    margin: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar ul li{
    position: relative;
    float: left;
    right: 10vw;
}
.navbar ul li a{
    font-size: 1em;
    padding: 20px;
    color: white;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: white;
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}
#menu{
    display: none;
}
.menu-icono{
    position: relative;
    top: -1vh;
    right: 10vw;
}
.menu-icono img{
    max-width: 30px;
}
.menu label{
    cursor: pointer;
    display: none;
}


.imagen{
    background-image: url(arma\ tu\ setup.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12vh;
}
.text{
    display: flex;
    justify-content: center;
}
.centro{
    text-align: center;
    color: white;
}
.centro h1{
    font-size: 4em;
    font-weight: bold;
    animation: Slide_up 1s ease;
    position: relative;
    z-index: 0;
}
.centro p{
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: Slide_up 1.5s ease;
    position: relative;
    z-index: 0;
}
.centro button{
    position: relative;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    min-width: 72px;
    padding: 5px;
    animation: Slide_up 2.5s ease;
    z-index: 0;
}
.centro button:hover{
    transition: 0.7s;
    transform: scale(1.1);
}
button:hover{
    cursor:pointer;
}
.desvan{
    display: flex;
    flex-direction: column;
}
@keyframes Slide_up{
    0%{
        transform: translateY(30vh);
    }
    100%{
        transform: translateY(0);
    }
}



.desimagen{
    background: linear-gradient(transparent, black);
    height: 10vh;
}



.presentacion{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    justify-content: center;
}
.titulo{
    background-color: black;
    height: 10vh;
    text-align: center;
}
.titulo h2{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 2em;
    top: 25%;
    text-transform: uppercase;
}
.despresentacion{
    background: linear-gradient(black, white);
    height: 4vh;
}
.presentacion p{
    position: relative;
    text-align: center;
    background-color: white;
    width: 70vw;
    left: 15%;
    font-size: 1.5em;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.linea1{
    background-color: black;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.flex{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.flex h2{
    color: black;
    text-align: center;
    font-size: 3em;
    text-underline-offset: 2px;
}
.categorias{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
.categorias a{
    text-decoration: none;
}
.categorias a h3{
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    color: black;
    font-weight: normal;
}
.seccion1{
    display: flex;
    gap: 3vw;
}
.seccion2{
    display: flex;
    gap: 3vw;
}
.perifericos{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14vw;
    color: black;
    padding: 8vw;
    border: #151517 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
.perifericos1{
    background-image: url(auriculares.jpg); 
}
.scale:hover{
    transition: 1s;
    transform: scale(1.05);
}
.perifericos2{
    background-image: url(raton.jpg);
}
.perifericos3{
    background-image: url(teclado.jpg);
}
.perifericos4{
    background-image: url(monitor.jpg);
}


.marcas{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14vw;
    color: black;
    padding: 8vw;
    border: #151517 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
.marcas1{
    background-image: url(razer.png);
}
.marcas2{
    background-image: url(redragon.jpg);
}
.marcas3{
    background-image: url(hyperx.png);
}
.marcas4{
    background-image: url(logitech.png);
}
.desmarcas{
    background: linear-gradient(white, black);
    height: 4vh;
    margin-top: 9vh;
}


.noticias{
    background-image: url(noticias.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 40vh;
}
.lanzamientos{
    display: flex;
    color: white;
    align-items: center;
    gap: 6vw;
}
.texto{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 3vh;
    text-align: left;
    margin-left: 12vw;
}
.texto h3{
    font-size: 2em;
    font-weight: normal;
    color: white
}
.texto p{
    font-size: 1.3em;
}
.form{
    display: flex;
    font-size: 1em;
    background: transparent;
    color: white;
}
.gmail{
    display: flex;
    flex-direction: column;
}
.boton{
    display: flex;
    gap: 0.7vw;
}
.label{
    position: relative; 
    text-transform: uppercase;
    color: white;
    margin: 5px;
    font-size: 1em;
}
#email{
    color: white;
    padding: 5px;
    background: transparent;
    font-size: 1em;
    width: 16.5vw;
    border: white 2px solid;
    border-radius: 10px;
    backdrop-filter: blur(0.1rem);
}
#submit{
    height: 5.5vh;
    background: transparent;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    padding: 4px;
}




.footer{
    background: linear-gradient(black, #151517, black);
    min-height: 20vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.superior{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footlogo{
    display: flex;
    padding: 2vh;
    align-items: center;
}
.footlogo p{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icons{
    display: flex;
    gap: 0.5vw;
}
.linea{
    background-color: white;
    height: 1px;
    width: 100%;
}
.textos{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.textos a{
    color: white;
    text-decoration: underline;
}
.textos a:hover{
    color:aquamarine;
}



@media(max-width:1000px){
    .menu{
        top: 2.3vh;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 63px;
        left: 0px;
        right: 0px;
        background: linear-gradient(black, #151517);
        display: none;
        z-index: 2;
    }
    .menu .navbar ul{
        width: 10vw;
    }
    .navbar ul li{
        right: 0;
        left: 10vw;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }


}
@media(max-width:800px){
    .noticias{
        height: 50vh;
        font-size: 1em ;
        justify-content: center;
    }
    .lanzamientos{
        gap: 2vh;
        flex-direction: column;
        justify-content: center;
    }
    #email{
        width: 30vw;
    }
    .texto{
        margin-left: 0; 
        text-align: center;
        width: 80vw;
    }


    .perifericos{
        padding: 80px;
        background-size: 140px;
    }
    .marcas{
        padding: 80px;
        background-size: 140px;
    }
    .categorias{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .seccion1{
        display: flex;
    }
    .seccion2{
        display: flex;
    }
}

